input[type="date"],
input[type="time"],
input[type="file"] {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none; /* 1 */
  appearance: none; /* 1 */
  box-shadow: none; /* 1 */
  box-sizing: inherit; /* 1 */
  padding: 0.2rem 0.5rem; /* 1 */
  width: 100%; /* 1 */
  font-size: 1rem; /* 1 */
  color: var(--fg); /* 2 */
  background-color: var(--bg); /* 2 */
  border: 0.1rem solid var(--fg); /* 2 */
  border-radius: var(--radius); /* 2 */
  font-family: var(--font); /* 3 */
}

/* 
extracted from PR
https://github.com/louismerlin/concrete.css/pull/19/changes
 */
select:not([multiple]) {
  background-image: linear-gradient(90deg, transparent 50%, var(--fg) 50%),
    linear-gradient(90deg, var(--fg) 50%, transparent 50%);
  background-position: calc(100% - 0.8rem), calc(100% - 0.8rem);
  background-size: 0.8rem 0.8rem, 0.8rem 0.8rem;
  background-repeat: no-repeat;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-bottom: 0.4rem;
}

label + label {
  padding-top: 0.4rem;
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  margin: -0.1rem 0.2rem 0rem 0.2rem;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: var(--radius);
  border: 0.1rem solid var(--fg);
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: var(--fg);
}
